/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

/* Estilo body */

body {
  background-color: #f8e7fc77;
}

/* Header y Navbar */

.navbar {
  background-color: #14162e;
  border-bottom: 4px solid purple;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

header nav img {
  width: 8rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link:hover {
  color: rgb(220, 43, 226) !important;
}

.navbar .container-fluid {
  justify-content: space-around;
}

.nav-link {
  color: aliceblue;
}

.navbar-toggler-icon {
  background-color: aliceblue;
}

.navbar-toggler {
  background-color: aliceblue;
}

/* Home */
h1 {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
}

strong {
  font-size: 1.3rem;
  font-weight: 100;
}

.img-home {
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

/* Descatado */
.column-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: none;
  height: 29.875rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}

.card:hover {
  background-color: rgb(230, 213, 247);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body a {
  width: fit-content;
}

.btn {
  background-color: rgba(81, 15, 87, 0.938);
  color: aliceblue;
}

.btn:hover {
  background-color: cornsilk;
  border: 1px solid;
}
.row h2,
h3 {
  text-align: center;
}

.card h5 {
  opacity: 0.6;
}

/* Medios de pago */
.img-cash {
  width: 10rem;
  height: 6.25rem;
}

.pay-mode-txt {
  text-align: justify;
}

/* Footer */

footer p {
  color: aliceblue;
}

.footer {
  margin-top: 6rem;
  height: 12rem;
  background-color: #14162e;
}

/* Sobre Nosotros */
.img-about {
  height: 31.264rem;
}

/* Contacto */

.img-icon-contact {
  width: 4rem;
}

.button-form {
  display: flex;
}

textarea {
  resize: none;
  height: 15rem;
}

.span-contact {
  font-weight: 700;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .column-card {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 520px) {
  .carousel-item {
    height: 20rem;
  }
  .img-about {
    height: 20rem;
  }
}
