/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: rgba(248, 231, 252, 0.4666666667);
}

header nav {
  background-color: #14162e;
  border-bottom: 4px solid purple;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
header nav div a img {
  width: 8rem;
}
header nav div .navbar-collapse {
  flex-grow: 0;
}
header nav div .navbar-toggler {
  background-color: aliceblue;
}
header nav div .navbar-toggler span {
  background-color: aliceblue;
}
header .navbar .container-fluid {
  justify-content: space-around;
}
header #navbarNav ul li a {
  color: aliceblue;
}
header #navbarNav ul li a:hover {
  color: rgb(220, 43, 226);
}

main section div h1 {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
}
main section div strong {
  font-size: 1.3rem;
  font-weight: 100;
}
main section div .btn-lg {
  background-color: rgba(81, 15, 87, 0.938);
  color: aliceblue;
}
main section div .btn-lg:hover {
  background-color: cornsilk;
  border: 1px solid;
}

main .row h2, main h3 {
  text-align: center;
}
main .column-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .column-card .card {
  border: none;
  height: 29.875rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}
main .column-card .card h5 {
  opacity: 0.6;
}
main .column-card .card:hover {
  background-color: rgb(230, 213, 247);
}
main .column-card .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .column-card .card .card-body .btn {
  width: fit-content;
  background-color: rgba(81, 15, 87, 0.938);
  color: aliceblue;
}
main .column-card .card .card-body .btn:hover {
  background-color: cornsilk;
  border: 1px solid;
  color: black;
}

main .row .pay-mode-txt {
  text-align: justify;
}
main .row .img-cash {
  width: 10rem;
  height: 6.25rem;
}

main .row .img-about {
  height: 31.264rem;
}

main .row .img-icon-contact {
  width: 4rem;
}
main .row .span-contact {
  font-weight: 700;
}
main .row .button-form {
  display: flex;
  background-color: rgba(81, 15, 87, 0.938);
  color: aliceblue;
}
main .row .button-form:hover {
  background-color: cornsilk;
  border: 1px solid;
  color: black;
}
main .row #exampleFormControlTextarea1 {
  resize: none;
  height: 15rem;
}

footer {
  margin-top: 6rem;
  height: 12rem;
  background-color: #14162e;
}
footer p {
  color: aliceblue;
}
footer ul li .nav-link {
  color: aliceblue;
}
footer ul li .nav-link:hover {
  color: rgb(220, 43, 226);
}

@media only screen and (max-width: 768px) {
  main section .column-card {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 520px) {
  main section .carousel-item {
    height: 20rem;
  }
  main section .carousel-item .img-about {
    height: 20rem;
  }
}

/*# sourceMappingURL=style.css.map */
