main {
    .row {
        .img-icon-contact {
            width: 4rem;
        }
        .span-contact {
            font-weight: 700;
        }
        .button-form {
            display: flex;
            background-color: nth($list: $colors, $n: 3);
            color: nth($list: $colors, $n: 6);
            &:hover {
                background-color: nth($list: $colors, $n: 4);
                border: 1px solid;
                color: nth($list: $colors, $n: 5);
            }
        }
        #exampleFormControlTextarea1 {
            resize: none;
            height: 15rem;
        }  
    }
}
