main {
    .row {
        .img-icon-contact {
            width: 4rem;
        }
        .span-contact {
            font-weight: 700;
        }
        .button-form {
            display: flex;
            background-color: $background-btn;
            color: $txt-secondary;
            &:hover {
                background-color: $hover-btn;
                border: 1px solid;
                color: $txt-primary;
            }
        }
        #exampleFormControlTextarea1 {
            resize: none;
            height: 15rem;
        }  
    }
}
