footer {
    margin-top: 6rem;
    height: 12rem;
    background-color: nth($list: $colors, $n: 2);
    p {
        color: nth($list: $colors, $n: 6);
    }
    ul {
        li {
            .nav-link {
                color: nth($list: $colors, $n: 6);
                &:hover {
                    color: nth($list: $colors, $n: 7);
                }
            }
        }
    }
}