footer {
    margin-top: 6rem;
    height: 12rem;
    background-color: $background-primary;
    p {
        color: $txt-secondary;
    }
    ul {
        li {
            .nav-link {
                color: $txt-secondary;
                &:hover {
                    color: $hover-links;
                }
            }
        }
    }
}