header {
    nav {
        background-color: $background-primary;
        border-bottom: 4px solid purple;
        border-bottom-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        div {
            
            a{
                img {
                    width: 8rem;
                }
            }
            .navbar-collapse {
                flex-grow: 0;
            }
            .navbar-toggler {
                background-color: aliceblue;
                span{
                    background-color: aliceblue
                };
            }
        } 
    }
    .navbar {
        .container-fluid{
            justify-content: space-around;
            
        }
        
    }
    #navbarNav {
        ul {
            li{
                a{
                    color: $txt-secondary;
                    &:hover {
                        color: $hover-links;
                    }
                }
                
            }
        }
    }
}   

