main {
    .row-home {
        align-items: center;
        div {
            h1 {
            color: $txt-primary;
            font-size: 4rem;
            font-weight: 600;
            font-family: "Kanit", sans-serif;
            }
            strong {
            font-size: 1.3rem;
            font-weight: 100;
            }
            .btn-lg{
            background-color: $background-btn;
            color: $txt-secondary;
                &:hover {
                    color: $txt-primary;
                    background-color: $hover-btn;
                    border: 1px solid $txt-primary;
                }
            }
        }
        .img-home {
            border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}