main {
    .pay-mode {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .pay-mode-txt {
            text-align: justify;
        }
        .img-cash {
            width: 10rem;
            height: 6.25rem;
        }
    }
}


// my-5 text-center align-items-center justify-content-center