main {
    .pay-mode {
        @include flex(row, center, center);
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .pay-mode-txt {
            text-align: justify;
        }
        .img-cash {
            width: 10rem;
            height: 6.25rem;
        }
    }
}


