main {
    .row-home {
        align-items: center;
        div {
            h1 {
            color: nth($list: $colors, $n: 5);
            font-size: 4rem;
            font-weight: 600;
            font-family: "Kanit", sans-serif;
            animation-duration: 1.8s;
            }
            span {
                background: nth($list: $colors, $n: 2);
                background: linear-gradient(to right, nth($list: $colors, $n: 2) 0%, nth($list: $colors, $n: 10) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 700;
                font-size: 1.1rem;
            }
            strong {
            font-size: 1.3rem;
            font-weight: 100;
            }
            .btn-lg{
            background-color: nth($list: $colors, $n: 3);
            color: nth($list: $colors, $n: 6);
                &:hover {
                    color: nth($list: $colors, $n: 5);
                    background-color: nth($list: $colors, $n: 4);
                    border: 1px solid nth($list: $colors, $n: 5);
                }
            }
        }
        .img-home {
            border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            @include margin(4.2rem, 4.2rem);
        }
    }
}