main {
    .row h2, h3 {
        text-align: center;
    }
    .column-card {
        @include flex(column, center, center);
        .card {
            h5 {
                opacity: 0.6;
            }
            border: none;
            width: 18rem;
            height: 29.875rem;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition-duration: 0.4s;
            &:hover {
                background-color: nth($list: $colors, $n: 9);
            }
        .card-body {
            @include flex(column, space-between, start);
            .btn {
                width: fit-content;
                background-color: nth($list: $colors, $n: 3);
                color: nth($list: $colors, $n: 6);
                &:hover {
                    background-color: nth($list: $colors, $n: 4);
                    border: 1px solid;
                    color: nth($list: $colors, $n: 5);
                    }
                }
            }
        }
    }
}