@media only screen and (max-width: 1200px) {
    main {
        section {
            margin-top: 2rem;
            div {
                h1 {
                    font-size: 3rem;
                }
                strong {
                    font-size: 1.1rem;
                }
                p {
                    font-size: 0.9rem;
                }
            } 
        }
    }
}