/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
  }

  body {
    background-color: #f8e7fc77;
  }

  