$background-body: #f8e7fc77;
$background-primary: #14162e;
$background-btn: rgba(81, 15, 87, 0.938);
$hover-btn: #FCF3CF;
$txt-primary: #17202A;
$txt-secondary: #F2F3F4;
$hover-links: rgb(220, 43, 226);